<%= render 'layouts/userheader' %>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <div class="genre">
            <h4 class="genre-head">ジャンル検索</h4>
              <% @genres.each do |genre| %>
                    <%= link_to genre.name, public_products_path(genre_id: genre.id), class: "genre-list" %>
              <% end %>
          </div>
        </div>

        <div class="col-xs-9">
          <% if params[:genre_id] %>
            <h3><%= @genre.name %></h3>
            <% if @products.empty? %>
              <p>現在、商品はありません。<p>
            <% end %>
          <% else %>
            <h2>商品一覧</h2>
          <% end %>
            <div class="product-index">
              <% @products.each do |product| %>
                <% if product.is_active == true %>
                  <%= link_to public_product_path(product.id) do %>
                    <div class="main-content">
                      <div class="main-img">
                          <%= attachment_image_tag product, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100"%>
                      </div>
                      <div class="main-text">
                        <div class="product-name">
                          <%= product.name %>
                        </div>
                        <div class="price_excluding_tax">
                          <%= product.price_excluding_tax.to_s(:delimited, delimiter: ',') %>円
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <%= paginate @products %>
        </div>
      </div>
    </div>
  </main>

<%= render 'layouts/userfooter' %>