<%= render 'layouts/anglerheader' %>

  <div class="container">
    <div class="row">
      <div class="main-visual">
        <p class="main-visual-text">
        新鮮。そして天然。
        </p>
      </div>
    </div>

    <main>
      <div class="row">
        <div class="col-xs-3">
          <div class="genre">
            <h4 class="genre-head">ジャンル検索</h4>
              <% @genres.each do |genre| %>
                    <%= link_to genre.name, angler_top_path(genre_id: genre.id), class: "genre-list" %>
              <% end %>
          </div>
        </div>

        <div class="col-xs-9">

          <% if flash[:notice] %>
            <div class="flash">
              <%= flash[:notice] %>
            </div>
          <% end %>

            <h2>商品一覧</h2>
              <div class="product-index">
                <% @products.each do |product| %>
                  <%= link_to angler_product_path(product.id) do %>
                    <div class="main-content">
                      <div class="main-img">
                          <%= attachment_image_tag product, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100"%>
                      </div>
                      <div class="main-text">
                        <div class="product-name">
                          <%= product.name %>
                        </div>
                        <div class="price_excluding_tax">
                          <%= product.price_excluding_tax.to_s(:delimited, delimiter: ',') %>
                        </div>
                        <div class="is_active">
                          <% if product.is_active == true %>
                            【販売中】
                          <% else %>
                            【販売停止中】
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="home-link">
                <br><%= link_to "商品一覧管理画面へ", angler_products_path, class: 'btn btn-default' %>
              </div>
            <%= paginate @products %>
        </div>
    </main>
  </div>

<%= render 'layouts/anglerfooter' %>