<%= render 'layouts/anglerheader' %>

  <main>
    <h2>会員の方はこちらからログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <br>
        <%= link_to "パスワードを忘れた方はこちら", "#" %>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>

        <h2>登録がお済でない方</h2>
        <p>
        <string><%= link_to "こちら", new_angler_registration_path %></string>から新規登録を行って下さい。
        </p>
      <% end %>
  </main>

<%= render 'layouts/anglerfooter' %>