<%= render 'layouts/adminheader' %>

  <main>
    <h2>ジャンル編集</h2>

      <%= form_with model: [:admin, @genre], url:{controller: :genres, action: :update}, local: true do |f| %>

        <% if @genre.errors.any? %>
          <h3 class="error"><%= @genre.errors.count %>件のエラーがあります。</h3>
          <ul>
            <% @genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <label>ジャンル</label>
        <%= f.text_field :name %>

        <label><%= f.radio_button :is_active, "true" %>有効</label>
        <label><%= f.radio_button :is_active, "false" %>無効</label>

        <%= f.submit '変更を保存' %>
      <% end %>
  </main>

<%= render 'layouts/adminfooter' %>