<%= render 'layouts/anglerheader' %>

  <main>
    <h2>注文履歴詳細</h2>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <p>
        <label>購入者<br>
        <%= @order.name %></label>様
      </p>

      <p>
        <label>配送先<br>
          <%= @order.postal_code %>
          <%= @order.street_address %><br>
        </label>
      </p>

      <p>
        <label>支払方法<br>
          <%= @order.method_payment %>
        </label>
      </p>

      <%= form_with model: [:seller, @order], url:{controller: :orders, action: :show}, local: true do |f| %>

        <label>注文ステータス
          <%= f.select :order_status, options_for_select(Order.order_statuses.keys.map{|k| [t("enums.order.order_status.#{k}"), k]}, @order.order_status) %>
          <%= f.submit "更新", class: 'btn btn-primary' %>
        </label>
      <% end %>

      <p>
        <label>商品合計<br>
          <%= @total_price.to_s(:delimited, delimiter: ',') %>
        </label>
      </p>

      <p>
        <label>送料<br>
          800円
        </label>
      </p>

      <p>
        <label>請求金額合計<br>
          <%= (@total_price + 800).to_s(:delimited, delimiter: ',') %>
        </label>
      </p>
  </main>

<%= render 'layouts/anglerfooter' %>