<%= render 'layouts/anglerheader' %>

  <main>
    <h2><%= @user.full_users_name %>さんの会員詳細</h2>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <p>会員ID</p>
      <%= @user.id %>
      <% if @user.is_active == true %>
        有効会員
      <% else %>
        退会済み
      <% end %>

      <p>氏名</p>
      <%= @user.surname %>
      <%= @user.name %>

      <p>フリガナ</p>
      <%= @user.surname_phonetic %>
      <%= @user.name_phonetic %>

      <p>郵便番号</p>
      <%= @user.postal_code %>

      <p>住所</p>
      <%= @user.street_address %>

      <p>電話番号</p>
      <%= @user.phone_number %>

      <p>メールアドレス</p>
      <%= @user.email %>

      <p><%= link_to "注文履歴一覧を見る", angler_orders_path %></p>
  </main>

<%= render 'layouts/anglerfooter' %>