<header>
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <div class="header_logo">
        <span style="color: white; font-size: 20px;">Fresh<</span>
      </div>
    </nav>

      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
           <li class="header_list_item">
            <%= link_to 'TOP', admin_top_path %>
          </li>
          <li class="header_list_item">
            <%= link_to '会員一覧', admin_users_path %>
          </li>
          <li class="header_list_item">
            <%= link_to '釣り人一覧', admin_anglers_path %>
          </li>
          <li class="header_list_item">
            <%= link_to "注文履歴一覧", admin_orders_path %>
          </li>
          <li class="header_list_item">
            <%= link_to "ジャンル一覧", admin_genres_path %>
          </li>
          <li class="header_list_item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% else %>
          <li class="header_list_item">
            <%= link_to 'LOGO', root_path %>
          </li>
          <li class="header_list_item">
            <%= link_to 'About', "#" %>
          </li>
          <li class="header_list_item">
            <%= link_to "商品一覧", admin_products_path %>
          </li>
          <li class="header_list_item">
            <%= link_to "ログイン", new_admin_session_path %>
          </li>

        <% end %>
      </ul>
  </div>
</header>